/***********************

  Table of Contents

  #Variables
  #Sass Mixins
  #Normalize
  #Grid Setup
  #Basic Styles
  #Helper Classes
  #Typography

**********************/

/**********************
#Variables
**********************/

// Typography

@font-face {
    font-family: 'suissesans';
    src: url('http://ordinarystudios.com/beckley/fonts/suissebpintl-bold-webfont.eot');
    src: url('http://ordinarystudios.com/beckley/fonts/suissebpintl-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://ordinarystudios.com/beckley/fonts/suissebpintl-bold-webfont.woff2') format('woff2'),
         url('http://ordinarystudios.com/beckley/fonts/suissebpintl-bold-webfont.woff') format('woff'),
         url('http://ordinarystudios.com/beckley/fonts/suissebpintl-bold-webfont.ttf') format('truetype'),
         url('http://ordinarystudios.com/beckley/fonts/suissebpintl-bold-webfont.svg#suisse_bp_intl_boldbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'suissesans';
    src: url('http://ordinarystudios.com/beckley/fonts/suissebpintl-regular-webfont.eot');
    src: url('http://ordinarystudios.com/beckley/fonts/suissebpintl-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://ordinarystudios.com/beckley/fonts/suissebpintl-regular-webfont.woff2') format('woff2'),
         url('http://ordinarystudios.com/beckley/fonts/suissebpintl-regular-webfont.woff') format('woff'),
         url('http://ordinarystudios.com/beckley/fonts/suissebpintl-regular-webfont.ttf') format('truetype'),
         url('http://ordinarystudios.com/beckley/fonts/suissebpintl-regular-webfont.svg#suisse_bp_intl_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'suissesans';
    src: url('http://ordinarystudios.com/beckley/fonts/suissebpintl-light-webfont.eot');
    src: url('http://ordinarystudios.com/beckley/fonts/suissebpintl-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://ordinarystudios.com/beckley/fonts/suissebpintl-light-webfont.woff2') format('woff2'),
         url('http://ordinarystudios.com/beckley/fonts/suissebpintl-light-webfont.woff') format('woff'),
         url('http://ordinarystudios.com/beckley/fonts/suissebpintl-light-webfont.ttf') format('truetype'),
         url('http://ordinarystudios.com/beckley/fonts/suissebpintl-light-webfont.svg#suisse_bp_intl_lightlight') format('svg');
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: 'suisseserif';
    src: url('http://ordinarystudios.com/beckley/fonts/suisseworks-bold-webfont.eot');
    src: url('http://ordinarystudios.com/beckley/fonts/suisseworks-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://ordinarystudios.com/beckley/fonts/suisseworks-bold-webfont.woff2') format('woff2'),
         url('http://ordinarystudios.com/beckley/fonts/suisseworks-bold-webfont.woff') format('woff'),
         url('http://ordinarystudios.com/beckley/fonts/suisseworks-bold-webfont.ttf') format('truetype'),
         url('http://ordinarystudios.com/beckley/fonts/suisseworks-bold-webfont.svg#suisse_worksbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'suisseserif';
    src: url('http://ordinarystudios.com/beckley/fonts/suisseworks-book-webfont.eot');
    src: url('http://ordinarystudios.com/beckley/fonts/suisseworks-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://ordinarystudios.com/beckley/fonts/suisseworks-book-webfont.woff2') format('woff2'),
         url('http://ordinarystudios.com/beckley/fonts/suisseworks-book-webfont.woff') format('woff'),
         url('http://ordinarystudios.com/beckley/fonts/suisseworks-book-webfont.ttf') format('truetype'),
         url('http://ordinarystudios.com/beckley/fonts/suisseworks-book-webfont.svg#suisse_worksbook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'suisseserif';
    src: url('http://ordinarystudios.com/beckley/fonts/suisseworks-bookitalic-webfont.eot');
    src: url('http://ordinarystudios.com/beckley/fonts/suisseworks-bookitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://ordinarystudios.com/beckley/fonts/suisseworks-bookitalic-webfont.woff2') format('woff2'),
         url('http://ordinarystudios.com/beckley/fonts/suisseworks-bookitalic-webfont.woff') format('woff'),
         url('http://ordinarystudios.com/beckley/fonts/suisseworks-bookitalic-webfont.ttf') format('truetype'),
         url('http://ordinarystudios.com/beckley/fonts/suisseworks-bookitalic-webfont.svg#suisse_worksbook_italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

$sans: 'suissesans', sans-serif;
$serif: 'suisseserif', serif;
$base-font-family: $sans;
$heading-font-family: $base-font-family;


// Font Sizes
$base-font-size: 13px;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 0px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$beckley-blue: #2C345E;
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

// Font Colors
$base-background-color: #fff;
$base-font-color: $beckley-blue;
$action-color: $beckley-blue;

// Border
$base-border-color: $beckley-blue;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba($beckley-blue, 0);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);



/**********************
#Sass Mixins
**********************/

@import 'base/bourbon/bourbon';

/**********************
#Normalize
**********************/

@import 'base/normalize';

/**********************
#Grid Setup
**********************/
@import 'base/csswizardry-grids';

.grid {
  max-width: 1200px;
  margin: 0 auto;

  @media screen and (min-width: 480px) {
      padding: 0 $gutter/2;
  }

}

/**********************
#Helper Classes
**********************/

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.sans {
  font-family: $sans;
}

.serif {
  font-family: $serif;
}

/**********************
#Basic Styles
**********************/

// Buttons

#{$all-button-inputs},
button {
  @include appearance(none);
  -webkit-font-smoothing: antialiased;
  background-color: $action-color;
  border-radius: $base-border-radius;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: darken($action-color, 15%);
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}


// Forms

fieldset {
  background-color: lighten($base-border-color, 10%);
  border: none;// $base-border;
  margin: 0 0 $small-spacing;
  padding: $base-spacing;
}

input,
label,
select {
  display: block;
  font-family: $base-font-family;
  font-size: $base-font-size;
}

label {
  margin-top: 1em;
  font-weight: 600;
  margin-bottom: $small-spacing / 2;

  &.required::after {
    content: "*";
  }

  abbr {
    display: none;
  }
}

#{$all-text-inputs},
select[multiple=multiple],
textarea {
  background-color: $base-background-color;
  border: $base-border;
  border-radius: 0; // $base-border-radius;
  box-shadow: $form-box-shadow;
  box-sizing: border-box;
  font-family: $base-font-family;
  font-size: $base-font-size;
  margin-bottom: $base-spacing / 2;
  padding: $base-spacing / 3;
  transition: border-color;
  width: 100%;

  &:hover {
    border-color: darken($base-border-color, 10%);
  }

  &:focus {
    border-color: $action-color;
    box-shadow: $form-box-shadow-focus;
    outline: none;
  }
}

textarea {
  resize: vertical;
}

input[type="search"] {
  @include appearance(none);
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: $small-spacing / 2;
}

input[type="file"] {
  padding-bottom: $small-spacing;
  width: 100%;
}

select {
  margin-bottom: $base-spacing;
  max-width: 100%;
  width: auto;
}


// Lists

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;

  &%default-ul {
    list-style-type: disc;
    margin-bottom: $small-spacing;
    padding-left: $base-spacing;
  }

  &%default-ol {
    list-style-type: decimal;
    margin-bottom: $small-spacing;
    padding-left: $base-spacing;
  }
}

dl {
  margin-bottom: $small-spacing;

  dt {
    font-weight: bold;
    margin-top: $small-spacing;
  }

  dd {
    margin: 0;
  }
}



// Tables


table {
  @include font-feature-settings("kern", "liga", "tnum");
  border-collapse: collapse;
  margin: $small-spacing 0;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: 1px solid darken($base-border-color, 15%);
  font-weight: 600;
  padding: $small-spacing 0;
  text-align: left;
}

td {
  border-bottom: $base-border;
  padding: $small-spacing 0;
}

tr,
td,
th {
  vertical-align: middle;
}

.wrapper {
  min-height: 100vh;
  overflow: auto;
}

/**********************
#Typography
**********************/


body {
  @include font-feature-settings("kern", "liga", "pnum");
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

h1 {

}


h2 {
  font-family: $serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 1.2;
  padding: 30px 0;
}

h3 {
  font-family: $serif;
}

figcaption {
  font-family: $serif !important;
  font-weight: bold !important;
  font-size: 30px !important;
  line-height: 1.2 !important;
  color: $beckley-blue !important;
  text-shadow: none !important;
}

h5 {
  font-family: $sans;
  font-weight: bold;
}

p {
  margin: 0 0 $small-spacing;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color 0.1s linear;

  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }

  &:active,
  &:focus {
    outline: none;
  }
}

hr {
  border-bottom: $base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

address {
  font-family: $sans;
  font-weight: normal;
  line-height: 2;
}

/**********************
#Header
**********************/

.brand {
  color: transparent;
  background: url('../images/beckley-logo.svg') left center no-repeat;
  width: 100px;
  height: 19px;
  display: inline-block;
  overflow: visible;
  background-size: 100px auto;

  &:hover {
    color: transparent;
    text-decoration: none;
  }
}

header, .header {
  position: fixed;
  padding: 30px 0;
  width: 100%;
  margin: 0 auto;
  z-index: 10;
}

.primary-nav {

  padding-right: 0;

  @media screen and (max-width: 480px) {
    padding-left: 0;
    margin-top: 15px;
  }

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  float: right;

  &__item {


  }
}

.nav__link {
  font-family: $sans;
  font-weight: light;
  padding: 20px 0;
}

/**********************
#Homepage
**********************/

.hero {
  width: 100%;
  height: 100vh;
  overflow: hidden;

  @media screen and (max-width: 480px) {
    padding-top: 79px;
  }
}

.hero__background {
  width: 100%;
  height: 100vh;
  background: url('../images/hero.jpg');
  display: block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.brand-summary {
  padding: 150px 0;
}

.pull-quote {
  font-family: $serif;
  font-weight: bold;
  font-size: em(30);
  line-height: 1.4;
  max-width: 770px;
  margin: 0 auto;
}

.author {
  font-family: $serif;
  font-style: italic;
  font-size: em(16);
  margin-top: 2em;
}


/**********************
#Collections
**********************/

#masonry[data-columns]::before {
  content: '2 .column.size-1of2';
  text-indent: -9999px;
  color: white;
}

.column { float: left; }
.size-1of2 { 
  width: 50%; 
  padding: 0 15px; 
  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}

.collection {
  overflow: auto;
}

.collection-description {
  font-family: $serif;
  h3 {
    font-weight: bold;
  }
}

.collection-imagery {
  // padding-left: 30px;
  margin-top: 111px;
  float: right;

  .grid {
    padding-right: 0;
    padding-left: 0;
  }

  &__image {
    padding-bottom: 30px;
      img {
      display: block;

      &:hover {
        cursor: url(http://ordinarystudios.com/beckley/images/cursor-open.png) 11 11, auto;
        cursor: url(http://ordinarystudios.com/beckley/images/cursor-open.svg) 11 11, auto;
      }
    }
  }

  width: 100%;

  @media screen and (min-width: 760px) {
    width:66.666%;
  }

}

.collection-copy {
 
 width: 100%;

 @media screen and (max-width: 759px) {
    max-width: 440px;
    margin: 120px auto 60px;
  }
 

  @media screen and (min-width: 760px) {
    width:33.333%;
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    float: left;
  }

}

.collection-copy-fixed {
  position: fixed;
  padding-right: 60px;
}

.collection-spacer {
  text-indent: -9999px;
}

.collection-nav {
    padding-top: 15px;
    padding-bottom: 30px;

    a {
      padding-top: 15px;
      padding-bottom: 30px;
    }
}


/**********************
#Our Story
**********************/

.our-story {
  padding-top: 120px;
  padding-bottom: 90px;
  min-height: 90vh;
  display: flex;
  align-items: center;

  @media screen and (max-width: 768px) {
    flex-direction: column-reverse;

    .grid__item {
      padding: 15px;
    }
  }
}

.timeline {
  overflow: auto;

  &__item {

  }
}

// #timeline[data-columns]::before {
//   content: '4 .column.size-1of4';
//   text-indent: -9999px;
//   color: white;
// }

// @media screen and (max-width: 480px){
//   #timeline[data-columns]::before {
//     content: '1 .column.size-1of1';
//   }
// }

// @media screen and (min-width: 481px) and (max-width: 768px) {
//   #timeline[data-columns]::before {
//     content: '2 .column.size-1of2';
//   }
// }

// @media screen and (min-width: 769px) {
//   #timeline[data-columns]::before {
//     content: '4 .column.size-1of4';
//   }
// }


.size-1of1 { width: 100%; }

.column { float: left; }
.size-1of4 { width: 25%; padding: 0 15px; }

.timeline__item {
  padding-bottom: 60px;

  img {
    padding-bottom: 15px;
  }
}

.our-history {
  overflow: auto;
  margin: 0 auto;
}

/**********************
#Press
**********************/

.press, .celebrity {
  padding-top: 120px;

  &-item {
    padding-bottom: 30px;

    &__image {
      padding-bottom: 15px;
    }

    &__caption h4 {
      line-height: 2;
    }
  }
}

.press-item__image {
  img {
    &:first-child {
      display: block;
    }
    &:last-child {
      display: none;
    }
  }

  &:hover {
    img:first-child {
      display: none;
    }
    img:last-child {
      display: block;
    }
  }
}

.celebrity {
  padding-top: 60px;
  padding-bottom: 120px;
}

/**********************
#Stockists
**********************/

.stockists-header {
  padding-top: 120px;
}

.stockists {
  padding-bottom: 120px;
}

.stockist {

  padding-bottom: 45px;

  img {
    padding-bottom: 15px;
  }

  &__caption h4 {
    line-height: 2;
  }
}

/**********************
#Contact
**********************/

.contact {
  padding-top: 120px;
  padding-bottom: 90px;
  display: flex;
  justify-content: center;
  max-width: 700px;

  @media screen and (max-width: 480px) {
    flex-direction: column;
  }

  .hide {
    visibility: hidden;
  }

  .bottom-line-only {
    border: none;
    border-bottom: solid 1px $beckley-blue;
  }
}


/**********************
#Footer
**********************/

footer, .footer {
  background: #F2F4F3;
  padding: 60px 0;
  float: left;
  width: 100%;

  address {
    line-height: 1.5;
  }

  .legal {
    margin-top: 2em;
    a {
      text-decoration: underline;
    }
  }
}